# Django
*.pyc
__pycache__/
db.sqlite3
/media/
*.log
django.log

# Configuração
.env
.vscode/
.idea/
*.DS_Store

# Virtual Environment
venv/
*.egg-info/

# Git
.git/

#BD
db.sqlite3

#outros e todos os arquivos .txt da pasta raiz
SMM-Refatorado.zip
/*.txt 

Diagrama.pdf
schema.sql