# Django
*.pyc
__pycache__/
db.sqlite3
/media/
*.log
django.log

# Configuração
.env
.vscode/
.idea/
*.DS_Store

# Virtual Environment
venv/
*.egg-info/

# Git
.git/

#BD
db.sqlite3

#outros
SMM-Refatorado.zip
planoGPT.txt 
FASE 2.txt