{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="display-6 text-light">Detalhes da Notícia</h3>

    <div class="card shadow-sm bg-dark text-light">
        <div class="card-body">
            {% comment %} <!-- Exibir imagem se houver -->
            {% if object.imagem %}
                <div class="text-center mb-3">
                    <img src="{{ object.imagem.url }}" alt="Imagem da Notícia" class="img-fluid rounded shadow-sm" style="max-width: 100%;">
                </div>
            {% endif %} {% endcomment %}

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Veículo</label>
                    <div class="form-control bg-dark border border-secondary text-light">
                        {{ object.cd_veiculo|default:"Não informado" }}
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label fw-bold">Título</label>
                    <div class="form-control bg-dark border border-secondary text-light">
                        {{ object.titulo|default:"Não informado" }}
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label fw-bold">Conteúdo</label>
                    <div class="p-2 border border-secondary rounded bg-dark text-light" style="min-height: 150px;">
                        {{ object.conteudo|linebreaks|default:"Não informado" }}
                    </div>
                </div>
            </div>

            <!-- Botões -->
            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'noticia_update' object.pk %}" class="btn btn-outline-info btn-sm">
                    <i class="bi bi-pencil"></i> Editar Notícia
                </a>
                <a href="{% url 'noticia_list' %}" class="btn btn-outline-light btn-sm">
                    <i class="bi bi-arrow-left"></i> Voltar para Lista
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
