<div class="p-3">
    <h6>Filtrar por:</h6>

    <!-- Calendário -->
    <input type="date" class="form-control mb-2" value="{% now 'd-m-Y' %}">

    <!-- Assunto -->
    <select class="form-select mb-2">
        <option>Todas os assuntos</option>
    </select>

    <!-- Estado -->
    <select class="form-select mb-2">
        <option>Todos os estados</option>
    </select>

    <!-- Veículo -->
    <select class="form-select mb-2">
        <option>Todos os veículos</option>
    </select>

    <!-- Estatísticas -->
    <hr>
    <h6>Estatísticas</h6>
    <ul class="list-unstyled small">
        <li><a href="#">› Avaliações</a></li>
        <li><a href="#">› Análise de mídia</a></li>
        <li><a href="#">› Lista de notícias</a></li>
    </ul>
</div>
