<tbody>
    {% for noticia in noticias %}
    <tr class="align-middle">
        <!-- Ícones de Ações -->
        <td class="text-center">
            <a href="{% url 'noticia_update' noticia.cd_noticia %}" class="btn btn-warning btn-sm p-1" title="Editar">
                <i class="bi bi-pencil"></i>
            </a>
        </td>

        <!-- Título da Notícia -->
        <td class="fw-semibold">
            <a href="{% url 'noticia_update' noticia.cd_noticia %}" class="text-decoration-none fw-semibold text-body">
                {{ noticia.titulo }}
            </a>
        </td>

        <!-- Veículo -->
        <td class="text-secondary">
            {{ noticia.cd_veiculo.nome_veiculo|default:"Sem veículo" }}
        </td>

        <!-- Data de Publicação -->
        <td class="text-muted">
            {{ noticia.dt_noticia|date:"d/m/Y" }} <small>{{ noticia.dt_noticia|date:"H:i:s" }}</small>
        </td>
    </tr>
    <!-- -------AQUI ERA O TRATAMENTO PARA QUANDO NÃO SE TINHA NOTICIAS---------------- -->
    {% endfor %}
</tbody>
